{% extends 'basemain.html' %}
{% block content %}

<section id="search">
  <div class="container">
    {% for item in voting %}
    <div class="">
      <div class="col-md-8 col-md-offset-2">
        <div class="thumbnail">
          <!--<img src="..." alt="...">-->
          <div class="caption">
            <div class="row">
              <div class="col-md-8">
                <h3><a href="{% url 'vote-detail' pk=item.pk %}">{{ item.title }}</a></h3>
                <p>{{ item.info }}</p>
                <p>theme - {{item.theme}}</p>
                <p>created - {{ item.created }}</p>
                <p>finished - {{ item.finished }}</p>
                <p><a href="{% url 'vote-detail' pk=item.pk %}" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Statistics</a></p>
              </div>
              <div class="col-md-4">
                <div class="myblock">
                  <!-- <p>votings - {{item.theme}}</p>
                  <p>blockchain - {{item.theme}}</p> -->
                  <a href="{% url 'delete' pk=item.pk %}"><button type="button" name="button" class="btn btn-danger delete" <!--data-toggle="modal" data-target="#myModal"-->>Delete</button></a>


                </div>
              </div>
            </div>

            </div>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>This action is irreversible. Remote voting cannot be restored...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Return</button>
        <button type="button" class="btn btn-success">Yes</button>
      </div>
    </div>
  </div>
</div>
</section>



{% endblock %}
