{% extends 'basemain.html' %}
{% block content %}

<section id="search">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="info-stat">
          <p>Voting counter: {{context.result}}</p>
          <p>User: {{context.username}}</p>
          <p>Title: {{context.title}}</p>
          <p>Info: {{context.info}}</p>
          <p>Created: {{context.created}}</p>
          <p>Finished: {{context.finished}}</p>
          <p>Theme: {{context.theme}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="container"></div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div id="container1"></div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div id="container"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

    </div>
  </div>
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>


<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Result'
      },
      xAxis: {
          categories: [
            {% for entry in dataset %}'{{ entry.option }} '{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          name: 'Survived',
          data: [
            {% for entry in dataset %}{{ entry.count }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'orange'
      }
      // , {
      //     name: 'Not survived',
      //     data: [
      //       {% for entry in dataset %}{{ entry.not_survived_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
      //     ],
      //     color: 'red'
      // }
      ]
  });







  Highcharts.chart('container1', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Result'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    // plotOptions: {
    //     pie: {
    //         allowPointSelect: true,
    //         cursor: 'pointer',
    //         dataLabels: {
    //             enabled: true,
    //             format: '<b>{point.name}</b>: {point.percentage:.1f} %'
    //         }
    //     }
    // },
    series: [{
        name: 'Option',
        colorByPoint: true,
        // data: [{
        //     name: 'Chrome',
        //     y: 61.41,
        //     sliced: true,
        //     selected: true
        // }, {
        //     name: 'Internet Explorer',
        //     y: 11.84
        // }, {
        //     name: 'Firefox',
        //     y: 10.85
        // }, {
        //     name: 'Edge',
        //     y: 4.67
        // }
        // ]
        // data: [
        //   {% for entry in dataset %}{{ entry.count }}{% if not forloop.last %}, {% endif %}{% endfor %}
        // ]
        data: [
          {% for entry in dataset %}
            ['{{entry.option}}',
            {{ entry.count }}
            ],
            {% endfor %}
            ]
    }]
});
</script>
{% endblock %}
