{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href=" {% static 'animate.css'%}">
    <script src="{% static 'js/wow.min.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>

  <body>

    <section id="menu">
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

          <!-- BRAND -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#menu">BB Voting</a>
          </div>

          <!-- COLLAPSIBLE NAVBAR -->
          <div class="collapse navbar-collapse" id="alignment-example">

            <!-- Links -->
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#menu">Home<span class="sr-only">(current)</span></a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#how">Blockchain</a></li>
              <li><a href="#contacts">Contacts</a></li>
              <li><button type="button" class="btn btn-default nav-button" name="button"><a href="login/">Log in</a></button></li>

              <li class="nav-button-lan">
                <div class="dropdown">
                  <button class="btn btn-default btn-default-border dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    en
                    <span class="caret"></span>
                  </button>

                    <ul class="dropdown-menu lan-width" aria-labelledby="dropdownMenu1">
                      <li class="lan-width"><a href="#">ua</a></li>
                    </ul>

                </div>
              </li>
            </ul>
            <!-- Text -->
          </div>
        </div>
      </nav>
    </section>

    <section id="main">
      <div class="container">
        <div class="row text-left">
          <div class="col-md-5 col-md-offset-1 main-text">
            <div class="pad">
              <p>Blockchain-based voting system</p>
            </div><hr>
            <p class="sub-text">
               We present a completely new service that is based on decentralized blockchain technology. Now the voting system can be implemented in state and business enterprises, because it is safe and transparent. Wide settings for any type of voting and statistically generated result.
            </p>
                <!-- <button type="button" class="btn btn-prinary" name="button"><a href="signup/">Sign up</a></button> -->
                <button type="button" class="btn btn-default login-btn" name="button"><a href="login/">Log in</a></button>

          </div>
          <div class="col-md-5 col-md-offset-1 pull-right wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.5s" data-wow-offset="0" data-wow-iteration="1">
          <img src="{% static 'img/sign-up-3.png' %}?version=1" alt="" class="img-responsive main-image">
        </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <p class="about-main">About</p>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-1 text-center">
              <p class="about-sub-main">Idea</p>
              <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-4 col-md-offset-2 text-center">
              <p class="about-sub-main">Task</p>
              <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="how">
      <div class="container">
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <p class="how-main-text">How it works?</p>
          </div>
          <div class="row">
            <div class="col-md-3 wow bounceInLeft" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="0" data-wow-iteration="1">
              <p class="how-item"><div class="number">1</div>
                <p class="how-item">Secure</p>
              </p>
              <p class="how-item"><div class="number">2</div>
                <p class="how-item">Blockchain-based</p>
              </p>
            </div>
            <div class="col-md-6 text-center how-img">
              <img src="{% static 'img/cherry.png' %}?version=1" alt="" class="img-responsive how-image">
            </div>
            <div class="col-md-3 how-col wow bounceInRight" data-wow-duration="1s" data-wow-delay="2s" data-wow-offset="1" data-wow-iteration="1">
              <p class="how-item"><div class="number">3</div>
                <p class="how-item">Transparently</p>
              </p>
              <p class="how-item"><div class="number">4</div>
                <p class="how-item">Сonveniently</p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contacts">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-2">
            <img src="{% static 'img/cherry-done.png' %}?version=1" alt="" class="img-responsive footer-img">
          </div>
          <div class="col-md-6 text-center">
            <p class="how-main-text">Contacts</p>
            <div class="contacts-item text-left">
              <img src="{% static 'img/email.png' %}?version=1" alt="" class="img-responsive how-image contacts-item">
                <p class="how-item-contact">&nbsp;&nbsp;<a href="#" class="contacts-a">nataliia.saichyshyna@nure.ua</a></p>
              </p>
              <img src="{% static 'img/smartphone.png' %}?version=1" alt="" class="img-responsive how-image contacts-item">
                <p class="how-item-contact">&nbsp;&nbsp;<a href="#" class="contacts-a">+380 99 288 50 26</a></p>
              </p>
              <img src="{% static 'img/telegram.png' %}?version=1" alt="" class="img-responsive how-image contacts-item">
                <p class="how-item-contact">&nbsp;&nbsp;<a href="#" class="contacts-a">nataliia.say</a></p>
              </p>
              <img src="{% static 'img/github.png' %}?version=1" alt="" class="img-responsive how-image contacts-item">
                <p class="how-item-contact">&nbsp;&nbsp;<a href="#" class="contacts-a">NatashaSay</a></p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <p class="footer">@2019 Blockchain-based voting system</p>
          </div>
        </div>
      </div>
      <div ID = "toTop" ><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    </section>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
